# The port your project runs on and the base url of your app
PORT = "porty"
APP_URL="http://localhost:0000"

# Hack Club Auth credentials
HACKCLUB_AUTH_CLIENT_ID = "enter yours"
HACKCLUB_AUTH_CLIENT_SECRET = "enter yours"

# Database Credential (URL)
DATABASE_URL = "let's get the database started"

# Resend Email Service Credential
RESEND_API_KEY="go get it"

# JWT Token Credential
ACCESS_JWT_TOKEN_SECRET = "enter yours"
REFRESH_JWT_TOKEN_SECRET = "really enter yours"

# Slack Bot
SLACK_BOT_OAUTH_TOKEN="xoxb-gogetyours"

# Node Environment (development || production)
NODE_ENV="development"
