PORT = "porty"
APP_URL="http://localhost:0000"

HACKCLUB_AUTH_CLIENT_ID = "enter yours"
HACKCLUB_AUTH_CLIENT_SECRET = "enter yours"

DATABASE_URL = "let's get the database started"

RESEND_API_KEY="go get it"

ACCESS_JWT_TOKEN_SECRET = "enter yours"
REFRESH_JWT_TOKEN_SECRET = "really enter yours"

NODE_ENV="development"
